* {
  font-family: "Montserrat", serif;
 }

.generic-interactive-button{
  background-color: white;
  color: gray;
  font-weight: bold;
  font-size: small  ;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generic-interactive-button:hover {
  background-color: #eee;
  color: gray;
}

.d20-button{
  color: white; 
  background-color: white; 
  font-size: small; 
  font-weight: bold; 
  background-image: url('Images/d20.png'); 
  background-size: 100% 100%; 
  border: none; 
  width: 22px;
  text-align: center; 
  padding: 0px;
}

.d20-button:hover {
  transform: scale(1.2, 1.2);
}

.left-column-button{
  font-size: larger;
  border: none;
  margin: 5px;
}

.left-column-button:hover {
  background-color: #ddd;
}

.column-block {
  display: inline-block;
  vertical-align: top;
}

.falling-dice{
  opacity: 0;
  animation: falling-dice-animation 0.15s linear forwards;
}

@keyframes falling-dice-animation {
  from {
      opacity: 0;
      transform: translateY(-20px);
}

  to {
      opacity: 1;
      transform : translateY(0);
  }
}

.group-layout{
  background-color: white;
  border-color: #ddd;
  border-width: 0px;
  border-style:solid;
  border-radius: 10px;
  margin-top: 20;
  margin-bottom: 20;
  margin-left: 10;
  margin-right: 10;
  padding: 20;
}

.invisible-group-layout{
  border-radius: 15px;
  margin-top: 10;
  margin-bottom: 10;
  margin-left: 5;
  margin-right: 5;
  padding: 20;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin-top: 20;
  margin-bottom: 20;
}

.global-background-color{
  background-color: #eee;
}

.left-column-fixed-width{
  min-width: 150px;
  max-width: 150px;
}

.middle-column-fixed-width{
  min-width: 550px;
}

.right-column-fixed-width{
  min-width: 300px;
  max-width: 300px;
}

.health-bar-buttons-group{
  max-width: fit-content;
}

.centered-page{
  width: fit-content;
  margin: auto;
}

.margin-auto{
  align-items: center;
  margin: auto;
}

select{
  font-size: medium;
  padding-left: 0px;
  border-radius: 5px;
  border-color: #ddd;
  border: none;
  appearance: none;
  color: gray;
  font-weight: bold;
  font-size: small;
}

select:hover {
  background-color: #eee;
  color: gray;
  font-weight: bold;
  font-size: small;
  appearance: menulist;
}

.health-slider{
  width: calc(100% - 96px);
  height: 15px;
  border-radius: 5px;
  -webkit-appearance: none;
  cursor: pointer;
  background: #eee;
  overflow: hidden;
  border: solid 1px #ddd;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
}

.health-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 0px;
  transform: translate(7px);
  box-shadow: -407px 0 0 400px #aa5050;
  offset: 100px;
}

.generic-text-input{
  border: solid 1px #ddd;
  width: 30px;
}

/*#5098aa;*/