* {
  font-family: "Montserrat", serif;
 }

.my-button{
  background-color: white;
  color: gray;
  font-weight: bold;
  font-size: small  ;
  padding: 5px 10px;
  margin-right: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #eee;
  color: gray;
}

.d20-button{
  color: white; 
  background-color: white; 
  font-size: small; 
  font-weight: bold; 
  background-image: url('Images/d20.png'); 
  background-size: 100% 100%; 
  border: none; 
  width: 22px;
  text-align: center; 
  padding: 0px;
}

.d20-button:hover {
  transform: scale(1.2, 1.2);
}

.falling-dice{
  opacity: 0;
  animation: falling-dice-animation 0.15s linear forwards;
}

@keyframes falling-dice-animation {
  from {
      opacity: 0;
      transform: translateY(-20px);
}

  to {
      opacity: 1;
      transform : translateY(0);
  }
}

.group-layout{
  background-color: white;
  border-color: #ddd;
  border-width: thin;
  border-style:solid;
  border-radius: 15px;
  margin: 10;
  padding: 20;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin-top: 20;
  margin-bottom: 20;
}

.global-background-color{
  background-color: #eee;
}

.limited-content{
  max-width: 550px;
  margin: auto;
}

select{
  font-size: medium;
  padding-left: 0px;
  border-radius: 5px;
  border-color: #ddd;
  border: none;
  appearance: none;
  color: gray;
  font-weight: bold;
  font-size: small;
}

select:hover {
  background-color: #eee;
  color: gray;
  font-weight: bold;
  font-size: small;
  appearance: menulist;
}